<h1>chartkicks_sample#top</h1>
<p class="text-danger">simple household ammount book app by chartkicks</p>

<p><%= link_to "新規データ作成", new_spending_path %></p>
<p><%= link_to "全データ", spendings_path %></p>
